# changes file
*.changes

# system image
*.image

# Pharo and Squeal Smalltalk Debug log file
*.log

# Monticello package cache
/package-cache

# Metacello-github cache
/github-cache
github-*.zip
Graph-checkpoint.ipynb

/vm
/cuis
/dataset

/scripts/*.tar.gz
